<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "perfil.jpg" %>
  </div>

  <div id="content">
    <h1>Hey, I´m Gabriel R.</h1>
    <p>This Blog was built in Ruby on Rails 4, for study.</p>
    <p>My Twitter <a href="https://twitter.com/gabrielsrbts">@gabrielsrbts</a></p>
  </div>

</div>
